                {% for item_pedido in itens_pedido %}
                <article class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8"><a href="{{ app.request.basepath }}/visualizar-pedido/{{ item_pedido.id }}">{{ item_pedido.created_at|date('d/m/Y H:i:s') }}</a></div>
                        <div class="col-sm-2"><a href="{{ app.request.basepath }}/editar-pedido/{{ item_pedido.id }}">[Editar]</a></div>
                        <div class="col-sm-2"><a href="{{ app.request.basepath }}/excluir-pedido/{{ item_pedido.id }}">[Excluir]</a></div>
                    </div>
                </article>
                {% else %}
                <article class="col-sm-12">Ainda n&atilde;o h&aacute; &iacute;tens adicionados neste chamado!</article>
                {% endfor %}